body{
    background: #333232;
    font: normal 15pt Arial;
    color: #ffffff;
    text-align: center;
    font-style: bold;
}

div,h1{
    text-align: center;
}

head{
    color: #9ABCA7;
    text-align: center;
    
}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    color: #333232;
    box-shadow: 5px 5px 5px #ceb7b333;
    text-align: left;
}

footer{
    color: #ffffff;
    text-align: center;
    font: italic bolder;

}