body{
    background: #333232;
    font: normal 15pt Arial;
    color: #ffffff;
    text-align: center;
    font-style: bold;
}

section{
    align-items: center;
    background: #ffffff;
    font: normal 15pt Arial;
    color: black;
    
    border-radius: 12px;
    padding: 5px;
    width: 600;
    
}